.btn {
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed !important;
}

.btn span {
  color: #fff;
}

/* colors */
.btn.primary {
  background-color: var(--color-btn-navy-normal);
  color: var(--color-white);
}

.btn.primary:hover {
  background-color: var(--color-btn-navy-select);
}

.btn.primary:disabled {
  cursor: not-allowed;
  background-color: var(--color-btn-navy-disable);
}

.btn.secondary {
  background-color: var(--color-btn-blue-normal);
  color: var(--color-white);
}

.btn.third {
  background-color: rgba(0, 0, 0, 0.7);
}

.btn.translucent {
  background-color: rgba(255, 255, 255, 0.2);
}

/* size */
.btn.small {
  padding: 3px 16px;
  min-height: 38px;
}

.btn.small span {
  font-size: 16px;
  line-height: 22px;
}

.btn.medium {
}

.btn.large {
  width: 300px;
  height: 60px;
}

.btn.large span {
  font-size: 1.5rem;
  line-height: 1.875rem;
}

/* shape */
.btn.square {
}

.btn.round {
  border-radius: 100px;
}
