.datepicker {
  border: 1px solid transparent;
  background-color: var(--color-gray-00);
  position: relative;
  z-index: 500;
  flex: 1;
}

.datepicker.open {
  border-color: var(--color-em-1);
}

.datepicker .inner {
  display: flex;
  align-items: center;
  padding: 0 0 0 20px;
  height: 100%;
}

.datepicker label {
  flex-basis: 152px;
  font-size: 1rem;
  line-height: 1.325rem;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.datepicker label.required::after {
  content: "*";
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-em-1);
  margin-top: 6px;
}

.datepicker .ipt {
  height: 100%;
  flex: 1;
}

.datepicker .picker {
  width: 440px;
  flex: 1;
  height: 60px;
  background-color: transparent;
  border-color: transparent;
  font-size: 1rem;
  line-height: 1.5rem;
}

.datepicker .ipt img {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
