.container {
  position: relative;
  z-index: 6;
}

.container .ctg {
  display: block;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 400;
  margin-bottom: 1.875em;
}

.container .des {
  margin-top: 16px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  font-weight: 400;
}

.container .small {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 50px;
  margin-top: 100px;
}

.container .medium {
  font-size: 50px;
  line-height: 56px;
  font-weight: 700;
  margin-top: 100px;
}

.container .tiny {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.375rem;
}

.container .medium .des {
  font-size: 2rem;
  line-height: 2.375rem;
}

.container .center {
  text-align: center;
}

.container .left {
  text-align: left;
}

.container .left > * {
  text-align: left;
}

.container .right {
  text-align: right;
}

.container .right > * {
  text-align: right;
}

.container .reverse {
  color: var(--color-white);
}

.container .reverse .des {
  color: var(--color-gray-10);
}

.container .dynamic {
  color: var(--color-blue-700);
}

.container .dynamic .des {
  color: var(--color-gray-90);
}

.container .static {
  color: var(--color-gray-90);
}

.page-title {
  text-align: center;
  position: relative;
  z-index: 1;
}

.page-title em {
  display: block;
  color: #e4113b;
  font-weight: 600;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 8px;
}

.page-title .text {
  font-weight: 700;
  font-size: 70px;
  line-height: 76px;
}

.page-title .inner {
  font-size: 32px;
  line-height: 38px;
  margin: 100px 0;
}
