.container {
}

.agree {
  display: flex;
  align-items: center;
  gap: 5px;
}

.text {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text em {
  color: var(--color-point-80);
  cursor: pointer;
}
