.header {
  background-color: #404040;
  padding: 0 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .inner {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .inner .logo {
  cursor: pointer;
}

.header .nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header .nav a {
  color: #fff;
  display: block;
  padding: 10px 20px;
}

.header .nav a.active {
  font-weight: 700;
  border-radius: 56px;
  background-color: rgba(255, 255, 255, 0.4);
}

.header .btns {
  display: flex;
  align-items: center;
  gap: 35px;
}
