.header {
  background-color: var(--color-opacity-black-10);
  padding: 0 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: 0.3s all;
}

.header .inner {
  /* height: 80px; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header .inner .logo {
  cursor: pointer;
  padding: 1.5rem 0 0 0;
}

.header .nav {
  /* height: 80px; */
  display: flex;
  align-items: flex-start;
}

.header .nav .top-dep {
  position: relative;
}

.header .nav .top-dep:hover {
  background: var(--color-linear-gradient-1);
}

.header .nav .top-dep:hover .dep-1 {
  font-weight: 700;
  border-bottom-color: var(--color-opacity-white-10);
}

.header .nav .dep-1 {
  color: var(--color-opacity-white-80);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 0 1.25rem;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.header .nav .sub-dep {
  position: absolute;
  visibility: hidden;
  width: 100%;
}

.header .nav .dep-2 a {
  padding: 0 30px;
  display: block;
  text-align: center;
  font-size: 1rem;
  line-height: 2.5rem;
}

.header .nav .dep-2 a,
.header .nav .dep-2 a:active,
.header .nav .dep-2 a:visited {
  color: var(--color-opacity-white-70);
}

.header .nav a.active {
  font-weight: 700;
  color: var(--color-white);
}

.header.on {
  border-bottom: 1px solid hotpink;
  background-color: var(--color-opacity-black-50);
  backdrop-filter: blur(34px);
}

.header.on .nav .dep-1 {
  padding: 0 1.875rem;
  border-bottom-color: var(--color-gray-90);
}

.header.on .nav .sub-dep {
  position: relative;
  visibility: visible;
}

.header .btns {
  display: flex;
  align-items: center;
  gap: 35px;
  padding: 0.875rem 0 0 0;
}
