.header {
  background-color: var(--color-opacity-black-10);
  padding: 0 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header .inner .logo {
  cursor: pointer;
  padding: 1.5rem 0 0 0;
}

.header .nav {
  display: flex;
  align-items: stretch;
}

.header .nav .top-dep {
  position: relative;
  width: fit-content;
  overflow: hidden;
}

.header .nav .top-dep:hover {
  background: var(--color-linear-gradient-1);
}

.header .nav .top-dep:hover .dep-1 {
  font-weight: 700;
  border-bottom-color: var(--color-opacity-white-10);
}

.header .nav .dep-1 {
  color: var(--color-opacity-white-80);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 0 1.25rem;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: 0.4s all ease-in-out;
}

.header .nav .sub-dep {
  visibility: hidden;
  width: 0;
  height: 0;
  padding: 10px 0;
  pointer-events: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.header .nav .dep-2 a {
  padding: 0;
  display: block;
  white-space: nowrap;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: -0.64px;
}

.header .nav .dep-2 a,
.header .nav .dep-2 a:active,
.header .nav .dep-2 a:visited {
  color: var(--color-opacity-white-70);
}

.header .nav a.active {
  font-weight: 700;
  color: var(--color-white);
}

.header.on {
  background-color: var(--color-opacity-black-50);
  backdrop-filter: blur(34px);
}

.header.on .nav .dep-1 {
  padding: 0 1.875rem;
  border-bottom-color: var(--color-gray-90);
}

.header.on .nav .sub-dep {
  visibility: visible;
  width: 100%;
  height: auto;
  pointer-events: auto;
  overflow: hidden;
}

.header.on .nav .sub-dep a {
  padding: 0 30px;
}

.header .btns {
  display: flex;
  align-items: center;
  gap: 35px;
  padding: 0.875rem 0 0 0;
}
