.container {
  margin: 0 auto;
  padding-bottom: 180px;
}

.inner {
}

.basic {
  background-color: rgba(0, 0, 0, 0.5);
}

.basic .inner {
  width: var(--container-max-width);
  margin: 0 auto;
  padding: 84px 60px;
}

.basic .logo {
  text-align: center;
  margin-bottom: 32px;
}

.basic .infos {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.basic .infos li {
  flex: 1 0 45%;
  color: var(--color-white);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-opacity-white-30);
  padding: 20px 10px;
}

.basic .infos .lb {
  flex-basis: 110px;
}

.basic .infos .txt {
  font-weight: 700;
  flex: 1;
}

.mission {
  margin: 0 -20px;
}

.mission .inner {
  width: 310px;
  height: 310px;
  border-radius: 50%;
  background-color: var(--color-opacity-navy-80);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
}

.mission strong {
  color: var(--color-anonymous-01);
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.125rem;
}

.mission p {
  color: var(--color-white);
  text-align: center;
  font-size: 1rem;
  line-height: 1.325rem;
}

.client {
  border: 1px solid var(--color-gray-10);
  flex-basis: 260px;
  height: 100px;
}

.patent {
  background-color: var(--color-white);
  box-shadow: 0 0 20px var(--color-opacity-black-06);
  padding: 10px;
  flex-basis: 350px;
  min-height: 493px;
}

.map {
  border: 1px dashed blue;
  height: 600px;
  margin-bottom: 100px;
}

.banner {
  flex-basis: 612px;
  height: 300px;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner.inquiry {
  background-color: var(--color-opacity-black-20);
}

.banner.intro {
  background-color: var(--color-opacity-black-30);
}

.banner .tit {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.875rem;
  margin-bottom: 24px;
}

.banner p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.325rem;
}

.box {
  flex: 1 0 45%;
}

.box .tit {
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.box ul {
  font-size: 1rem;
  line-height: 1.325rem;
}

.box ul li {
  display: flex;
  align-items: center;
  gap: 4px;
}

.box ul li + li {
  margin-top: 12px;
}

.box strong::after {
  content: " : ";
}

.box a,
.box a:hover,
.box a:visited {
  color: var(--color-black);
}
