.uploader {
  flex: 1 0 90%;
  width: 100%;
  background-color: var(--color-gray-00);
  padding: 1.25rem;
}

.uploader .lb {
  font-size: 1rem;
  line-height: 1.325rem;
  color: var(--color-gray-80);
}

.uploader label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.uploader label input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.uploader .file {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.uploader .b-del {
  cursor: pointer;
  margin-left: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border: none;
}

.uploader .file img {
  width: 1.25rem;
}

.uploader .size {
  color: var(--color-gray-20);
}

.guide {
  font-size: 1rem;
  line-height: 1.325rem;
  color: var(--color-gray-70);
}
