.container {
  height: 976px;
  background-color: rgba(0, 0, 0, 0.15);
}

.container .inner {
  width: var(--container-max-width);
  height: 100%;
  padding: 190px 0;
  margin: 0 auto;
  position: relative;
}

.container .inner::after {
  content: "";
  display: block;
  width: 100%;
  height: 100px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
}

.container.prdt .inner::after {
  background-color: var(--color-bg-02);
}

.container .ctg {
  color: rgba(255, 255, 255, 0.8);
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  margin-bottom: 8px;
  letter-spacing: -1.2 px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container .main-tit {
  font-size: 100px;
  line-height: 106px;
  color: #fff;
  font-weight: 600;
  letter-spacing: -4px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container .slogan {
  color: #fff;
  /* 공식적으로 250이 없음 */
  font-weight: 250;
  font-size: 2.5rem;
  line-height: 2.875rem;
  font-family: "spoqahansansneo";
  /* 36px의 23% */
  letter-spacing: 8.28px;
  margin-top: 134px;
  margin-bottom: 24px;
  text-align: center;
}

.container .name {
  text-align: center;
  font-size: 220px;
  font-weight: 600;
  letter-spacing: -13.8px;
  color: rgba(255, 255, 255, 0.7);
}
