.container.main {
  background-color: var(--color-bg-01);
  padding-bottom: 100px;
}

.main-visual {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main-visual::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 86%,
      rgba(0, 0, 0, 0.6) 100%
    );
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.cnt-cont {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.inner-txt {
  font-size: 4.375rem;
  line-height: 4.75rem;
  font-weight: 700;
  text-align: center;
  color: var(--color-indigo-750);
}

.swiper {
  width: 1240px;
  margin: 50px auto;
  position: relative;
}

/* aisolution */
.sw {
  padding: 4.375rem;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sw.sw-1 {
  background-image: url(../../../assets/imgs/main_swiper_01.png);
}
.sw.sw-2 {
  background-image: url(../../../assets/imgs/main_swiper_02.png);
}
.sw.sw-3 {
  background-image: url(../../../assets/imgs/main_swiper_03.png);
}

.sw .title {
  color: var(--color-white);
  font-size: 4.375rem;
  line-height: 4.75rem;
  font-weight: 700;
}

.sw .title em {
  color: var(--color-em-2);
}

.sw .desc {
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: var(--color-white);
  margin: 1.5rem 0;
  min-height: 120px;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.badges .badge {
  border: 1px solid var(--color-gray-30);
  color: var(--color-white);
  border-radius: 50px;
  font-size: 1rem;
  line-height: 1.325rem;
  padding: 0.5rem 1rem;
}

.badges .break {
  flex-basis: 100%;
  height: 0;
}

/* bigdata */
.b-container {
  background: url(../../../assets/imgs/bg_main_02.png) center no-repeat;
  background-size: cover;
  height: 975px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bgd {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1.5rem;
  width: 480px;
  min-height: 206px;
  background-color: var(--color-opacity-dark-80);
  border-radius: 10px;
  padding: 1.875rem;
}

.bgd .title {
  color: var(--color-em-2);
  font-size: 1.5rem;
  line-height: 1.825rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bgd .desc {
  color: var(--color-gray-10);
  font-size: 1.25rem;
  line-height: 1.625rem;
  margin-top: 1.5rem;
}

.s-fit {
  padding-top: 1px;
}

.smp {
  background: url(../../../assets/imgs/bg_main_banner_02.png) center no-repeat;
  background-size: cover;
  min-height: 497px;
  padding: 133px 0;
  margin-top: 3rem;
  overflow: hidden;
}

.smp .projects {
  width: 100%;
  margin-left: calc((100% - 1240px) / 2); /* 기존 좌측 여백 맞춤 */
  padding-right: 0;
}

.smp .projects .project {
  width: 380px;
  background-color: var(--color-white);
  box-shadow: 0 4px 14px var(--color-opacity-black-10);
  padding: 2.5rem 2rem;
  min-height: 230px;
}

.smp .projects .project .title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.875rem;
}

.smp .projects .project .desc {
  font-size: 1rem;
  line-height: 1.325rem;
  margin-top: 0.5rem;
}

.slogan {
  padding: 40px 0;
  background: linear-gradient(
      90deg,
      #2a38b2 11.64%,
      #0cb68d 59.14%,
      rgba(12, 182, 141, 0) 75.37%
    ),
    url(../../../assets/imgs/bg_slogan_banner.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right center;
}

.slogan .msg {
  width: 1240px;
  margin: 0 auto;
}

.slogan .msg p {
  color: var(--color-white);
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.375rem;
}

.clients-container {
  background-color: var(--color-bg-03);
}

.clients-container .clients {
  width: var(--container-max-width);
  padding: 80px 0;
}

.clients .client {
  background-color: var(--color-white);
  width: 292px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  width: var(--container-max-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 100px 0;
}

.links .link {
  cursor: pointer;
  flex: 1;
  color: var(--color-white);
  text-align: center;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.links .link:first-of-type {
  background-image: url(../../../assets/imgs/img_main_banner01.png);
}

.links .link:last-of-type {
  background-image: url(../../../assets/imgs/img_main_banner02.png);
}

.links .link strong {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.links .link p {
  font-size: 1rem;
  line-height: 1.325rem;
}

.b-next,
.b-prev {
  width: 3.75rem;
  height: 3.75rem;
  background-color: var(--color-opacity-black-50);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px auto;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
  position: absolute;
  z-index: 500;
  top: 50%;
  transform: translateY(-50%);
}

.b-prev {
  left: 10px;
  background-image: url(../../../assets/imgs/icon_swiper_left_w.svg);
}

.b-next {
  right: 10px;
  background-image: url(../../../assets/imgs/icon_swiper_right_w.svg);
}
