.container {
  background-color: var(--color-bg-02);
  color: var(--color-white);
}

.container.light {
  background-color: var(--color-gray-00);
  color: var(--color-black);
}

.light {
  background-color: var(--color-blue-30);
  padding: 1px 0 100px;
}

.light img {
  display: block;
  margin: 0 auto;
  height: 434px;
}

.img-box img {
  display: block;
  margin: 50px auto;
  max-height: 552px;
}

.em-lb {
  display: block;
  width: fit-content;
  margin: 0 auto 50px;
  text-align: center;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  padding: 1rem 2.5rem;
  border-radius: 40px;
  color: var(--color-blue-500);
  border: 1px solid var(--color-blue-700);
  box-shadow: 0px 0px 14px 0px #343df780;
}

.merits .row {
  display: flex;
}

.merits .row:nth-of-type(even) {
  flex-direction: row-reverse;
  text-align: right;
}

.merits .row > div {
  flex: 1 0 45%;
}

.merits .row .visual {
  min-height: 240px;
}

.merits .row .info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  padding: 0 1.875rem;
}

.merits .info .tit {
  font-size: 2rem;
  line-height: 2.375rem;
}

.merits .info .desc {
  color: var(--color-gray-10);
  font-size: 1.25rem;
  line-height: 1.625rem;
}

.process {
  max-width: 1014px;
  margin: 0 auto;
}

.process .row > img {
  margin: 0.5rem auto;
  display: block;
}

.process .row .step {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.process .row .step > img {
  height: 220px;
}

.process .row .step .tit {
  font-size: 1.25rem;
  line-height: 1.625rem;
  font-weight: 600;
}

.process .row .step p {
  font-size: 1rem;
  line-height: 1.325rem;
}

.process .row.group {
  padding: 1.875rem 0;
  margin: 1rem 0;
  display: flex;
  align-items: flex-start;
  border: none;
  background: repeating-linear-gradient(
        to right,
        #00cfde,
        #00cfde 10px,
        transparent 5px,
        transparent 20px
      )
      top/100% 2px no-repeat,
    repeating-linear-gradient(
        to right,
        #05a660,
        #05a660 10px,
        transparent 10px,
        transparent 20px
      )
      bottom/100% 2px no-repeat,
    repeating-linear-gradient(
        to bottom,
        #00cfde,
        #00cfde 10px,
        transparent 10px,
        transparent 20px
      )
      left/2px 100% no-repeat,
    repeating-linear-gradient(
        to bottom,
        #05a660,
        #05a660 10px,
        transparent 10px,
        transparent 20px
      )
      right/2px 100% no-repeat;
}

.process .row.group > img {
  transform: translateY(200%);
}

.process .row.group .step .tit {
  color: #24eba2;
}

.process .row.final {
  margin-bottom: 100px;
}

.process .row.final .step {
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  padding: 1.875rem 1.125rem;
  background-color: var(--color-indigo-850);
  text-align: left;
  flex-wrap: wrap;
}

.process .row.final .step img {
  height: 184px;
}

.process .row.final .step p {
  margin-top: 0.5rem;
}

.process .fed {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.process .fed .final .step {
  gap: 1.5rem;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.process .fed .final:last-of-type {
  padding-top: 3.5rem;
}

.needs {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.needs .need-item {
  border: 1px solid var(--color-indigo-600);
  flex: 1 0 45%;
  padding: 1.875rem;
}

.needs .need-item label {
  color: var(--color-system-orange-200);
  font-size: 1rem;
  line-height: 1.375rem;
}

.needs .need-item .txt {
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin-top: 0.5rem;
}

.dynamic-txt {
  font-size: 3.125rem;
  line-height: 3.5rem;
  font-weight: 600;
  color: var(--color-indigo-750);
  text-align: center;
  padding: 50px 0 100px;
}

.btns {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btns .btn {
  color: var(--color-white);
  font-size: 1rem;
  line-height: 1.325rem;
  background-color: rgba(24, 17, 53, 0.8);
  border-radius: 50px;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  cursor: pointer;
}

.inquiry {
  background: #14183480 url(../../../assets/imgs/bg_inq_banner.png) center
    no-repeat;
  background-size: cover;
  text-align: center;
  color: var(--color-white);
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.inquiry span {
  font-size: 1.5rem;
  line-height: 1.875rem;
}

.inquiry p {
  font-size: 2rem;
  line-height: 2.375rem;
}

.fed-item {
  background-color: var(--color-white);
  flex: 1 0 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 260px;
}

.fed-item strong {
  color: var(--color-blue-700);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.875rem;
  margin: 0.625rem 0 0.5rem;
}

.fed-item p {
  color: var(--color-gray-90);
  font-size: 1.25rem;
  line-height: 1.625rem;
  text-align: center;
}

.coop {
  flex: 1 0 45%;
  padding: 2.5rem;
  background-color: var(--color-indigo-800);
}

.coop p {
  font-size: 1.5rem;
  line-height: 1.875rem;
  letter-spacing: -1px;
  margin-bottom: 1rem;
}

.coop .chart {
  background-color: var(--color-white);
  border-radius: 10px;
  min-height: 176px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sols {
  border: 1px solid yellow;
}

.sol {
  flex: 1 0 45%;
  background-color: var(--color-white);
  color: var(--color-gray-90);
  padding: 1.875rem;
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}

.sol img {
  width: 80px !important;
}

.sol .tt {
  color: var(--color-blue-700);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.875rem;
  margin-bottom: 0.5rem;
}

.sol p,
.sol ul li {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: -0.8px;
}

.sol:nth-of-type(1) {
  flex: 1 0 90%;
}

.sol.half {
  align-items: center;
  flex: 0 1 562px;
  background-color: var(--color-gray-00);
}

.talk {
  padding: 100px 0;
  text-align: center;
  background-color: var(--color-white);
  margin-bottom: 100px;
}

.talk img {
  height: 400px;
}

.talk h3 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
}

.talk h3 span {
  color: var(--color-blue-600);
}

.chata {
  background-color: var(--color-gray-00);
  padding: 1px 0 100px;
}

.chata .txt {
  text-align: center;
  font-size: 1rem;
  line-height: 1.325rem;
}

.device {
  margin: 40px auto;
  width: 300px;
  min-height: 560px;
  border-radius: 36px;
  padding: 0.5rem;
  border: 2px solid var(--color-gray-30);
  background-color: var(--color-gray-00);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.device .inner {
  overflow: hidden;
  border-radius: 28px;
}

.device img {
  width: 100%;
  height: auto;
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ft {
  color: var(--color-white);
  font-size: 2rem;
  line-height: 2.375rem;
  font-weight: 700;
  width: 220px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 90, 101, 0.9);
  margin: 0 -15px;
}

.ft:nth-of-type(even) {
  background-color: rgba(220, 75, 84, 0.9);
}

.pqc-chart {
  padding: 1px 0 100px;
  background-color: var(--color-blue-800);
}

.pqc-chart .chart img {
  height: 470px;
  display: block;
  margin: 0 auto;
}

.typing {
  width: var(--container-max-width);
  margin: 100px auto;
  color: var(--color-gray-10);
  font-weight: 900;
  font-size: 10.625rem;
  line-height: 11.25rem;
  letter-spacing: -6.8px;
}

.care {
  flex: 0 1 790px;
  padding-left: 50px;
}

.care .ctx {
  font-size: 3.125rem;
  line-height: 3.5rem;
  font-weight: 400;
  height: 360px;
  letter-spacing: -2px;
}

.care .ctx strong {
  color: var(--color-blue-600);
  font-weight: 600;
}

.visual {
  padding: 0 50px;
}

.v-swiper {
  height: 360px;
}

.v-swiper .swiper {
  height: 100%;
}

.v-slide {
  height: 100%;
}
